* {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: sans-serif;
            }

            body {
                min-height: 120vh;
                background-color: white;
            }

            .container {
                position: relative;
                width: 100vw;
                height: 220vh;
                overflow: hidden;
                padding: 0;
        
            }

            img {
                position: absolute;
                max-width: 150px;
                margin: auto;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);

                cursor: pointer;
                z-index: -1;
            }

            .container .row .collapse a {
                text-decoration: none;
                color: #080000;
                margin-right: 15px;
                transition-property: background-color, letter-spacing;
                transition-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-delay: 2s;
                font-size: 14px;
            }

            .container .row .collapse a:hover {
                letter-spacing: 2px;
                color: black;
            }

            .language-dropdown {
                top: 40px;
                right: 0px;
                display: flex;
                align-items: center;
                z-index: 100; /* Adjust the value as needed */
            }

            .language-dropdown label {
                margin-right: 10px;
            }

            .language-dropdown select {
                appearance: none;
                padding: 5px;
                border: 1px solid #ddd;
                border-radius: 4px;
                background: url("https://emojicombos.com/") no-repeat right
                    center;
                background-size: 20px;
                cursor: pointer;
            }
            .recordings-section {
                text-align: center; /* Center the text */
            }

            .recordings-section h2 {
                margin: auto; /* Center the element */
                max-width: 600px; /* Adjust the maximum width as needed */
                font-weight: bold;
                margin-top: 50px;
            }
            .recordings-section .record {
                margin: auto; /* Center the element */
                max-width: 600px; /* Adjust the maximum width as needed */
            }
            .recordings-section .space {
                margin: auto; /* Center the element */
                max-width: 600px; /* Adjust the maximum width as needed */
                margin-top: 30px;
            }

            .recordings-section .space2 {
                margin: auto; /* Center the element */
                max-width: 800px; /* Adjust the maximum width as needed */
                margin-top: 30px;
            }

            .audio-container {
                max-width: 800px; /* Adjust the maximum width as needed */
                margin: auto;

                text-align: center; /* Center the content inside the audio container */
            }

            .recordings-section .recordstest {
                margin-bottom: 30px;
                margin-top: 70px;
                
            }

            .recordings-section .record {
                margin-bottom: 30px;
            }

            .recordings-section .subt {
                margin-top: 60px;
                
            }

            .audio-container audio {
                width: 100%;
            }

            @media (max-width: 768px) {
                .audio-container {
                    width: 80%; /* Adjust the width for smaller screens */
                }
                img {
                    top: 30px;
                }
            }